
.custom-alert {
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  margin-bottom: 0.75rem;
  font-size: 0.95rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-alert:hover {
  transform: translateY(-2px);
  box-shadow: 0 15px 25px rgba(0,0,0,0.08);
}
.custom-alert-success {
  background-color: #7A9E9F;
  color: #EEF6F6;
}
.custom-alert-error {
  background-color: #4F6367;
  color: #EEF6F6;
}
.custom-alert-info {
  background-color: #B8D8D8;
  color: #4F6367;
}
