</main>

<footer class="site-footer mt-3">
  <div class="container text-center">
    <p class="footer-text mb-0">
      Bajai SZC Türr István Technikum · 13.A · Szoftverfejlesztő
    </p>
  </div>
</footer>

</div>
</body>
</html>
