<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/calendar.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/dashboard.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/register_login.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="/assets/css/message.css">
    <link rel="stylesheet" href="/assets/css/steps.css">

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/auth.js"></script>
   
    <title>Lépésszámláló</title>
</head>
<body>
    <div  class="page-wrapper d-flex flex-column min-vh-100">
        <header>
            
            <%- include("navbar") %>
        </header>
        <main class="flex-fill">