<nav class="navbar navbar-expand-lg site-navbar">
  <div class="container position-relative">

    <a class="navbar-brand site-brand" href=<%= session.loggedUser ? "/dashboard" : "/login" %>>
      <b> Lépésszámláló</b>
      <span><%= session.loggedUser ? session.loggedUser.name : "Nincs bejelentkezve" %></span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse justify-content-center" id="mainNavbar">
      <ul class="navbar-nav site-nav-center">
        
            
        <% if (!session.loggedUser) { %>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/login">Bejelentkezés</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/registration">Regisztráció</a>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/dashboard">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/steps/chart">Statisztikák</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/steps/calendar">Naptár</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/steps">Lépések</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/profile">Profil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link site-nav-link" href="/logout">Kijelentkezés</a>
            </li>
        <% } %>
          
      </ul>
    </div>
  </div>
</nav>
